@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.configurator {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#1A7DFF, #6832fd);
    height: 100vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: "Roboto", serif;
}

.header{
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
}


.mainParts{
    display: flex;
    flex-direction: row;
}

.configLeft{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 65%;
}

.label{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

input[type='text'], input[type='password']{
    width: 99.3%;
    /* padding: 0.5rem; */
    height: 30px;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:large;
}

input[type='text']:focus, input[type='password']:focus{
    border-color: #007bff;
    outline: #007bff;
}



input[type="range"] {
    width: 100%;
    margin: 0.5rem 0;
}

.configSection{
    margin-bottom: 0.2rem;
}

.configLabel{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    font-size: 18px;
    height: 60px;
}

.storageToggle button,
.osOptions button{
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.storageToggle button.active,
.osOptions button.active{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.configRight{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 3rem;
    width: 30%;
    margin-left: 2%;
    font-size: 20px;
}

.configRight h2{
    margin: 0;
}

.configRight ul{
    list-style:none;
    padding-left: 0.2rem;
    margin-bottom: 1rem;
}

.configRight li{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.configRight li img{
    width: 20px;
    height: 20px;

}

.configRight button{
    padding: 0.75rem 1.5rem;
    background-color: #306bda;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.configRight button:hover{
    background-color: #2b5ab3;
}

.label{
    font-size: 18px;
}

.configLabel p{
    display: flex;
    justify-content: center; /* горизонтально */
    align-items: center;     /* вертикально */
    background-color: #f3f3f3;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 0.2rem;
}