@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.accordion {
    width: 1330px;
    margin: 0 auto;
    font-family: sans-serif;
    color: #000000;
}

.h2{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 36px;
    color: white;
    margin: 0;
    margin-bottom: 3rem;
}

.item {
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
  
}

.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    padding: 20px;
    background-color: #ffffff;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.header img{
    margin-left: 40px;
    margin-right: 10px;
}

.header span{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 24px;
}

.header:hover {
    background-color: rgb(92, 143, 255);
}

.header img {
    width: 25px;
    height: 25px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    background-color: #F2F2F2;
    padding: 0 16px;
    border-radius: 5px;
}

/* .content ul{
    margin-left: 44px;
} */

.content ul li{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 44px;
}

.content p{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 44px;
}

.content.open {
    max-height: 200px; /* Достаточно для текста */
    padding: 16px;
}