:root{
    --bg-color: linear-gradient(#1A7DFF, #6832fd);
    --text-color: black;
}
  
  .dark-mode {
    --bg-color: linear-gradient(#1050a4, #4320a0);
    --text-color: white;
}
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
  
  .theme-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 5px;
    transition: 0.3s;
}

.lightSwap button{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.lightSwap button:hover{
    background-color: #006FFF;
}

.lightSwap button img {
    transition: filter 0.3s ease;
}

.lightSwap button:hover img {
    filter: brightness(0) invert(1);
}