@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.logoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 100px;
}

.logoText h2{
    margin: 0;
    margin-right: 10px;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: white;
    margin-bottom: 1rem;
}

.logoText img{
    margin: 0;
    width: 91px;
    height: 59px;
    margin-bottom: 1rem;
}

.line{
    width: 10rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 5px;
}

.slogan{    
    text-align: center;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}



