.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comb{
    display: flex;
    flex-direction: column;
}


.leftAir{
    margin-top: 5rem;
    margin-right: 5rem;
}

.rightAir{
    margin-top: 5rem;
    margin-left: 5rem;
}